pre {
	counter-reset: line;	
}

code {
	counter-increment: line;
}

code::before {
	content: counter(line);
	display: inline-block;
	width: 1.5em; /* Fixed width */
	border-right: 1px solid #ddd;
	padding: 0 .5em;
	margin-right: .5em;
	color: #888;
	-webkit-user-select: none;
}