<<<<<<< HEAD
body {
	padding: 100px;
	font-size: 16px;
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 0.7rem;
	line-height: 1.4;
	white-space: pre;
	overflow: auto;
	background-color: #f9f9f9f;
	border: 1px solid #ddd;
	padding: .5rem;
	max-height: 800px;
	font-family: monospace;
}

pre code {
	color: inherit;
	background-color: transparent;
	padding: 0;
	display: block;
}

pre .line-number {
	display: block;
	float: left;
	margin: 0 1em 0 -1em;
	border-right: 1px solid #ddd;
	text-align: right;
}

pre .line-number span {
	display:block;
	padding: 0 .5em 0 1em;
	color: #ccc;
}

pre .cl {
	display: block;
	clear: both;
=======
body {
	padding: 100px;
	font-size: 16px;
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 0.7rem;
	line-height: 1.4;
	white-space: pre;
	overflow: auto;
	background-color: #f9f9f9f;
	border: 1px solid #ddd;
	padding: .5rem;
	max-height: 800px;
	font-family: monospace;
}

pre code {
	color: inherit;
	background-color: transparent;
	padding: 0;
	display: block;
}

pre .line-number {
	display: block;
	float: left;
	margin: 0 1em 0 -1em;
	border-right: 1px solid #ddd;
	text-align: right;
}

pre .line-number span {
	display:block;
	padding: 0 .5em 0 1em;
	color: #ccc;
}

pre .cl {
	display: block;
	clear: both;
>>>>>>> aaaf96b1a48f0e5a8fe3e9458fec0b82e302150b
}