.container {width: 538px; background-color: #999966}

section, aside {margin: 10px;}

section {float: left; width: 340px; background-color: #adebad;}

aside {float: right; width: 158px; background-color: #47d147;}